.page-header {
    display: flex;
    flex-direction: column;

    &__logo {
        display: flex;
        height: 85px;

        justify-content: center;
        //text-align: center;

        margin: 0;
        padding: 0;
    }

    &__logo-image {
        //padding: 0;
        //margin-top: 30px;
        //margin-bottom: 26px;

        width: 226px;
        height: 85px;
    }
}

@media (min-width: $tablet-width) {
    .page-header {
        background-color: #000000;

        /*width: 100%;
        height: 400px;

        background-image: url("../img/back-desktop.jpg");
        background-repeat: no-repeat;
        background-position: center -9px;*/
    }

    .page-header__logo {
        order: 2;

        width: 100%;
        height: 400px;

        background-color: #000000;
        background-image: url("../img/back-desktop.jpg");
        background-repeat: no-repeat;
        background-position: center -9px;

        //Retina background

        /*@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
            background-image: url("img/bg-header@2x.jpg");
            background-size: 1338px auto;
        }*/
    }

    .page-header__logo-image {
        display: block;  
        width: 370px;
        height: 101px;
        margin: 0 auto;
        margin-top: 40px;

    }
}

@media (min-width: $desktop-width) {
    /*.page-header {
        height: 648px;

        background-position: center 0;
        background-size: cover;
    }*/
    
    .page-header__logo {
        height: 648px;

        //background-image: url("../img/back-desktop.jpg");
        //background-repeat: no-repeat;
        background-position: center 0;
        background-size: cover;
    }

    .page-header__logo-image {
        height: 153px;
        margin-top: 57px;
    }
}